{% extends "base.html" %}

{% block title %}{{ branding.name }} - Inicio{% endblock %}

{% block styles %}
    {# Carga las variables de CSS personalizadas de la empresa #}
    <style>
        {{ branding.css_variables | safe }}
    </style>
{% endblock %}

{% block content %}

{% include '_company_header.html' %}

{# Contenido principal con la propuesta de valor y el widget de login #}
<div class="container my-4 my-md-5">
    <div class="row start g-5">

        <div class="col-lg-7">
            <h1 class="branded-headline mb-3">IA con nuestros  datos</h1>
            <p class="lead text-muted">
                Este asistente esta entrenado con los datos de una empresa ficticia
                llamada Sample Company. La empresa cuenta con clientes, proveedores, empleados,
                ordenes de venta, territorios, etc.
                <br>
                Olvídate de buscar en múltiples sistemas; ahora puedes obtener respuestas precisas y agilizar tus tareas en un solo lugar.
            </p>
            <ul class="list-unstyled mt-4 fs-5">
                <li class="mb-2"><i class="bi bi-check-circle-fill text-branded-primary me-2"></i>Consulta ventas y comisiones, por paises o territorios</li>
                <li class="mb-2"><i class="bi bi-check-circle-fill text-branded-primary me-2"></i>Información de la supply chain.</li>
                <li class="mb-2"><i class="bi bi-check-circle-fill text-branded-primary me-2"></i>Información de los empleados, estan todos los contratos de trabajo</li>
            </ul>
        </div>

        {# Columna del widget de inicio de sesión #}
        <div class="col-lg-5">
            {% include '_login_widget.html' %}
        </div>
    </div>
</div>

{% endblock %}