{% extends "base.html" %}

{% block title %}{{ branding.name }} - Inicio{% endblock %}

{% block styles %}
    <style>
        {{ branding.css_variables | safe }}
    </style>
{% endblock %}

{% block content %}
{% include '_company_header.html' %}

{# Contenido principal con la propuesta de valor y el widget de login #}
<div class="container my-4 my-md-5">
    <div class="row start g-5">

        <div class="col-lg-7">
            <h1 class="home-title">Bienvenido a la inteligencia de {{ branding.name }}</h1>
            <p class="lead ">
                Este asistente esta entrenado con los datos de una empresa ficticia llamada Sample Company.
                Es una empresa clasica que vende productos en distintos paises, y
                puedes preguntarle sobre la siguiente información:
            </p>
            <ul class="list-unstyled mt-4 fs-5 fw-normal">
                <li class="mb-2"><i class="bi bi-check-circle-fill me-2"></i>Ventas, despachos y comisiones.</li>
                <li class="mb-2"><i class="bi bi-check-circle-fill me-2"></i>Sobre sus proveedores y despachos.</li>
                <li class="mb-2"><i class="bi bi-check-circle-fill me-2"></i>Averigua sobre  los empleados de Sample.</li>
                <li class="mb-2"><i class="bi bi-check-circle-fill me-2"></i>Puedes pedirle que agrupe datos por paises, territorios, etc.</li>
            </ul>
        </div>


        {# Columna del widget de inicio de sesión #}
        <div class="col-lg-5">
            {% include '_login_widget.html' %}
        </div>
    </div>
</div>

{% endblock %}